<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div class="panel">
    <span class="underlineSelected">edit</span>
</div>
<div th:replace="fragments/header :: header"></div>
<br/>
<form action="#" th:action="@{'/clients/edit'}" th:object="${client}" method="post">
    <table th:fragment="edit" id="edit">
        <tr>
            <td hidden>
                <input th:field="*{id}" />
            </td>
            <td>
                <label>New First Name</label>
                <input type="text" th:field="*{firstName}" name="firstName" th:value="${firstName}">
            </td>
            <td>
                <label>New Middle Name</label>
                <input type="text" th:field="*{middleName}" name="middleName" th:value="${middleName}">
            </td>
            <td>
                <label>New Last Name</label>
                <input type="text" th:field="*{lastName}" name="lastName" th:value="${lastName}">
            </td>
        </tr>
        <tr>
            <td>
                <label>New Phone</label>
                <input type="text" th:field="*{phone}" name="phone" th:value="${phone}">
            </td>
            <td>
                <label>New Mail</label>
                <input type="text" th:field="*{mail}" name="mail" th:value="${mail}">
            </td>
            <td>
                <label>New Passport</label>
                <input type="text" th:field="*{passport}" name="passport" th:value="${passport}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="edit client">
                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                <div th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                <div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
                <div th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></div>
                <div th:if="${#fields.hasErrors('global')}">
                    <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>