<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<!--Clients-->
<div th:fragment="alreadyExists" th:object="${alreadyExistsMessage}" hidden>
    <div th:if="${alreadyExistsMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This client already exists.");

        </script>
    </div>
</div>
<div th:fragment="emptyFields" th:object="${emptyFieldsMessage}" hidden>
    <div th:if="${emptyFieldsMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[2].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFields" th:object="${invalidFieldsMessage}" hidden>
    <div th:if="${invalidFieldsMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[2].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentEdit" th:object="${nonExistentMessageEdit}" hidden>
    <div th:if="${nonExistentMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("This client doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="emptyPassport" th:object="${emptyPassportMessage}" hidden>
    <div th:if="${emptyPassportMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("Please, fill in the passport field.");
        </script>
    </div>
</div>
<div th:fragment="hasCredit" th:object="${hasCreditMessage}" hidden>
    <div th:if="${hasCreditMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("add");
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("Cannot delete a client who has credits.");
        </script>
    </div>
</div>

<!--Banks-->
<div th:fragment="alreadyExistsBankName" th:object="${alreadyExistsBankNameMessage}" hidden>
    <div th:if="${alreadyExistsBankNameMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
            actionsHandler("edit");
            table = document.body.getElementsByClassName("hiddenPanel").edit;
            table.children[0].children[1].firstElementChild.append("This bank already exists.");
        </script>
    </div>
</div>
<div th:fragment="alreadyExistsBank" th:object="${alreadyExistsBankMessage}" hidden>
    <div th:if="${alreadyExistsBankMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This bank already exists.");

        </script>
    </div>
</div>
<div th:fragment="emptyFieldsBank" th:object="${emptyFieldsBankMessage}" hidden>
    <div th:if="${emptyFieldsBankMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFieldsBank" th:object="${invalidFieldsBankMessage}" hidden>
    <div th:if="${invalidFieldsBankMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentEditBank" th:object="${nonExistentBankMessageEdit}" hidden>
    <div th:if="${nonExistentBankMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("This bank doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="hasCreditBank" th:object="${hasCreditBankMessage}" hidden>
    <div th:if="${hasCreditBankMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("add");
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("Cannot delete a client who has credits.");
        </script>
    </div>
</div>

<!--Credits-->
<div th:fragment="alreadyExistsCredit" th:object="${alreadyExistsCreditMessage}" hidden>
    <div th:if="${alreadyExistsCreditMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This credit already exists.");

        </script>
    </div>
</div>
<div th:fragment="alreadyExistsCreditEdit" th:object="${alreadyExistsCreditEditMessage}" hidden>
    <div th:if="${alreadyExistsCreditEditMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("This credit already exists.");

        </script>
    </div>
</div>
<div th:fragment="emptyFieldsCredit" th:object="${emptyFieldsCreditMessage}" hidden>
    <div th:if="${emptyFieldsCreditMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFieldsCredit" th:object="${invalidFieldsCreditMessage}" hidden>
    <div th:if="${invalidFieldsCreditMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentEditCredit" th:object="${nonExistentCreditMessageEdit}" hidden>
    <div th:if="${nonExistentCreditMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("This credit doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="emptyIdCredit" th:object="${emptyIdCreditMessage}" hidden>
    <div th:if="${emptyIdCreditMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("Please, fill in the id field.");
        </script>
    </div>
</div>
<div th:fragment="nonExistentClient" th:object="${nonExistentClientMessage}" hidden>
    <div th:if="${nonExistentClientMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This person is not a client of this bank.");

        </script>
    </div>
</div>
</body>
</html>