<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<!--Clients-->
<div th:fragment="alreadyExists" th:object="${alreadyExistsMessage}" hidden>
    <div th:if="${alreadyExistsMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This client already exists.");

        </script>
    </div>
</div>
<div th:fragment="occupiedPhone" th:object="${occupiedPhoneMessage}" hidden>
    <div th:if="${occupiedPhoneMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This phone is occupied.");

        </script>
    </div>
</div>
<div th:fragment="occupiedMail" th:object="${occupiedMailMessage}" hidden>
    <div th:if="${occupiedMailMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This mail is occupied.");

        </script>
    </div>
</div>
<div th:fragment="emptyFields" th:object="${emptyFieldsMessage}" hidden>
    <div th:if="${emptyFieldsMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[2].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFields" th:object="${invalidFieldsMessage}" hidden>
    <div th:if="${invalidFieldsMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[2].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<!--Edit-->
<div th:fragment="alreadyExistsEdit" th:object="${alreadyExistsMessageEdit}" hidden>
    <div th:if="${alreadyExistsMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("This client already exists.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentEdit" th:object="${nonExistentMessageEdit}" hidden>
    <div th:if="${nonExistentMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("This client doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="emptyPassport" th:object="${emptyPassportMessage}" hidden>
    <div th:if="${emptyPassportMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("Please, fill in the passport field.");
        </script>
    </div>
</div>
<div th:fragment="occupiedPhoneEdit" th:object="${occupiedPhoneMessageEdit}" hidden>
    <div th:if="${occupiedPhoneMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("This phone is occupied.");

        </script>
    </div>
</div>
<div th:fragment="occupiedMailEdit" th:object="${occupiedMailMessageEdit}" hidden>
    <div th:if="${occupiedMailMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[3].firstElementChild.append("This mail is occupied.");

        </script>
    </div>
</div>
<div th:fragment="invalidFieldsEdit" th:object="${invalidFieldsMessageEdit}" hidden>
    <div th:if="${invalidFieldsMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
            actionsHandler("edit");
            let table = document.body.getElementsByClassName("hiddenPanel").edit;
            table.children[0].children[3].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>

<!--Banks-->
<div th:fragment="alreadyExistsClient" th:object="${alreadyExistsClientMessage}" hidden>
    <div th:if="${alreadyExistsClientMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("addClient");
        table = document.body.getElementsByClassName("hiddenPanel").addClient;
        table.children[0].children[3].firstElementChild.append("This client already exists.");

        </script>
    </div>
</div>
<div th:fragment="alreadyExistsBank" th:object="${alreadyExistsBankMessage}" hidden>
    <div th:if="${alreadyExistsBankMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This bank already exists.");

        </script>
    </div>
</div>
<div th:fragment="emptyFieldsBank" th:object="${emptyFieldsBankMessage}" hidden>
    <div th:if="${emptyFieldsBankMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="emptyPassportBank" th:object="${emptyPassportBankMessage}" hidden>
    <div th:if="${emptyPassportBankMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("addClient");
        table = document.body.getElementsByClassName("hiddenPanel").addClient;
        table.children[0].children[3].firstElementChild.append("Please, fill in the passport field.");
        </script>
    </div>
</div>
<div th:fragment="invalidFieldsBank" th:object="${invalidFieldsBankMessage}" hidden>
    <div th:if="${invalidFieldsBankMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentBank" th:object="${nonExistentBankMessage}" hidden>
    <div th:if="${nonExistentBankMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This bank doesn't exist.");
        </script>
    </div>
</div>
<!--Edit-->
<div th:fragment="nonExistentEditBank" th:object="${nonExistentBankMessageEdit}" hidden>
    <div th:if="${nonExistentBankMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[2].firstElementChild.append("This bank doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="alreadyExistsBankName" th:object="${alreadyExistsBankNameMessage}" hidden>
    <div th:if="${alreadyExistsBankNameMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
            actionsHandler("edit");
            table = document.body.getElementsByClassName("hiddenPanel").edit;
            table.children[0].children[2].firstElementChild.append("This bank already exists.");
        </script>
    </div>
</div>

<!--Credits-->
<div th:fragment="alreadyExistsCredit" th:object="${alreadyExistsCreditMessage}" hidden>
    <div th:if="${alreadyExistsCreditMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[1].firstElementChild.append("This credit already exists.");

        </script>
    </div>
</div>
<div th:fragment="emptyFieldsCredit" th:object="${emptyFieldsCreditMessage}" hidden>
    <div th:if="${emptyFieldsCreditMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFieldsCredit" th:object="${invalidFieldsCreditMessage}" hidden>
    <div th:if="${invalidFieldsCreditMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="illegalLimitValue" th:object="${illegalLimitValueMessage}" hidden>
    <div th:if="${illegalLimitValueMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Credit limit must be above 0.");

        </script>
    </div>
</div>
<div th:fragment="illegalInterestValue" th:object="${illegalInterestValueMessage}" hidden>
    <div th:if="${illegalInterestValueMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[1].firstElementChild.append("Interest rate must not be negative.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentBank" th:object="${nonExistentBankMessage}" hidden>
    <div th:if="${nonExistentBankMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("add");
        table = document.body.getElementsByClassName("hiddenPanel").add
        table.children[0].children[2].firstElementChild.append("This bank doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="nonExistentClient" th:object="${nonExistentClientMessage}" hidden>
    <div th:if="${nonExistentClientMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[2].firstElementChild.append("This person is not a client of this bank.");

        </script>
    </div>
</div>
<!--Edit-->
<div th:fragment="alreadyExistsCreditEdit" th:object="${alreadyExistsCreditEditMessage}" hidden>
    <div th:if="${alreadyExistsCreditEditMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("This credit already exists.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentEditCredit" th:object="${nonExistentCreditMessageEdit}" hidden>
    <div th:if="${nonExistentCreditMessageEdit}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        actionsHandler("edit");
        table = document.body.getElementsByClassName("hiddenPanel").edit;
        table.children[0].children[1].firstElementChild.append("This credit doesn't exist.");
        </script>
    </div>
</div>

<!--Credit Offers-->
<div th:fragment="emptyFieldsCreditOffer" th:object="${emptyFieldsCreditOfferMessage}" hidden>
    <div th:if="${emptyFieldsCreditOfferMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("Please fill the empty fields.");

        </script>
    </div>
</div>
<div th:fragment="invalidFieldsCreditOffer" th:object="${invalidFieldsCreditOfferMessage}" hidden>
    <div th:if="${invalidFieldsCreditOfferMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("Some fields have illegal characters.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentCredit" th:object="${nonExistentCreditMessage}" hidden>
    <div th:if="${nonExistentCreditMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("This credit doesn't exists.");

        </script>
    </div>
</div>
<div th:fragment="nonExistentBankInCreditOffer" th:object="${nonExistentBankInCreditOfferMessage}" hidden>
    <div th:if="${nonExistentBankInCreditOfferMessage}">
        <script th:src="@{/js/src/actionsHandler.js}"></script>
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[3].firstElementChild.append("This bank doesn't exist.");
        </script>
    </div>
</div>
<div th:fragment="nonExistentClientInCreditOffer" th:object="${nonExistentClientInCreditOfferMessage}" hidden>
    <div th:if="${nonExistentClientInCreditOfferMessage}">
        <script>
        table = document.body.getElementsByClassName("hiddenPanel").add;
        table.children[0].children[3].firstElementChild.append("This person is not a client of this bank.");

        </script>
    </div>
</div>
<div th:fragment="monthsError" th:object="${monthsErrorMessage}" hidden>
    <div th:if="${monthsErrorMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("Number of months must be above 0.");
        </script>
    </div>
</div>
<div th:fragment="limitError" th:object="${limitErrorMessage}" hidden>
    <div th:if="${limitErrorMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("Credit limit must be above 0.");
        </script>
    </div>
</div>
<div th:fragment="sumError" th:object="${sumErrorMessage}" hidden>
    <div th:if="${sumErrorMessage}">
        <script>
            let table = document.body.getElementsByClassName("hiddenPanel").add;
            table.children[0].children[3].firstElementChild.append("Credit sum must be between 0 and credit limit.");
        </script>
    </div>
</div>
</body>
</html>