<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/banks/add}" th:object="${bankInput}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name" th:value="${bankInput.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add bank">
                    <div th:replace="fragments/errorMessages :: alreadyExistsBank"></div>
                    <div th:replace="fragments/errorMessages :: emptyFieldsBank"></div>
                    <div th:replace="fragments/errorMessages :: invalidFieldsBank"></div>
                    <div th:replace="fragments/errorMessages :: hasCreditBank"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/banks/addClient'}" th:object="${clientInput}" method="post">
        <table th:fragment="addClient" class="hiddenPanel" hidden id="addClient">
            <tr>
                <td>
                    <label>First Name</label>
                    <input type="text" field="*{firstName}" name="firstName" th:value="${clientInput.firstName}">
                </td>
                <td>
                    <label>Middle Name</label>
                    <input type="text" field="*{middleName}" name="middleName" th:value="${clientInput.middleName}">
                </td>
                <td>
                    <label>Last Name</label>
                    <input type="text" field="*{lastName}" name="lastName" th:value="${clientInput.lastName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone</label>
                    <input type="text" field="*{phone}" name="phone" th:value="${clientInput.phone}">
                </td>
                <td>
                    <label>Mail</label>
                    <input type="text" field="*{mail}" name="mail" th:value="${clientInput.mail}">
                </td>
                <td>
                    <label>Passport</label>
                    <input type="text" field="*{passport}" name="passport" th:value="${clientInput.passport}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Bank</label>
                    <input type="text" field="*{bank}" name="bank" th:value="${clientInput.bank}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add client">
                    <script th:src="@{/js/src/actionsHandler.js}"></script>
                    <div th:replace="fragments/errorMessages :: alreadyExistsClient"></div>
                    <div th:if="${emptyFieldsMessage}" th:object="${emptyFieldsMessage}" hidden>
                        <script>
                            actionsHandler("addClient");
                            let table = document.body.getElementsByClassName("hiddenPanel").addClient;
                            table.children[0].children[3].firstElementChild.append("Please fill the empty fields.");

                        </script>
                    </div>
                    <div th:if="${invalidFieldsMessage}" th:object="${invalidFieldsMessage}" hidden>
                        <script>
                            actionsHandler("addClient");
                            let table = document.body.getElementsByClassName("hiddenPanel").addClient;
                            table.children[0].children[3].firstElementChild.append("Some fields have illegal characters.");

                        </script>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/banks/edit/{name}'}" th:object="${bankInput}"
          method="post">
        <table th:fragment="edit" class="hiddenPanel" hidden id="edit">
            <tr>
                <td>
                    <label>Name</label>
                    <input type="text" field="*{name}" name="name" th:value="${bankInput.name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>New Name</label>
                    <input type="text" field="*{newName}" name="newName" th:value="${bankInput.newName}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="edit bank">
                    <div th:replace="fragments/errorMessages :: nonExistentEditBank"></div>
                    <div th:replace="fragments/errorMessages :: alreadyExistsBankName"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/banks/sort/{property}' (property = 'name')}">Name</a></td>
            <td>Clients</td>
            <td>Credits</td>
            <td></td>
        </tr>

        <tr th:each="bank : ${banks}" class="list">
            <td th:text="${bank.name}"></td>

            <td>
                <table th:unless="${#lists.isEmpty(bank.clients)}" align="center" border="1">
                    <tr bgcolor="#cccccc">
                        <td>Name</td>
                        <td>Passport</td>
                        <td></td>
                    </tr>

                    <tr th:each="client : ${bank.clients}">
                        <td>
                            <span th:text="${client.firstName}"></span>
                            <span th:text="${client.middleName}"></span>
                            <span th:text="${client.lastName}"></span>
                        </td>
                        <td><span th:text="${client.passport}"></span></td>
                        <td><a th:href="@{'/banks/deleteClient/{id}'(id=${client.id})}">delete</a></td>
                    </tr>
                </table>
            </td>

            <td>
                <table th:unless="${#lists.isEmpty(bank.credits)}" align="center" border="1">
                    <tr bgcolor="#cccccc">
                        <td>Name</td>
                        <td>Limit</td>
                        <td>Interest</td>
                        <td></td>
                    </tr>

                    <tr th:each="credit : ${bank.credits}">
                        <td>
                            <span th:text="${credit.client.firstName}"></span>
                            <span th:text="${credit.client.middleName}"></span>
                            <span th:text="${credit.client.lastName}"></span>
                        </td>
                        <td><span th:text="${credit.limit}"></span></td>
                        <td><span th:text="${credit.interest}"></span></td>
                        <td><a th:href="@{'/banks/deleteCredit/{id}'(id=${credit.id})}">delete</a></td>
                    </tr>
                </table>
            </td>

            <td>
                <a th:href="@{'/banks/delete/{id}'(id=${bank.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>