<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div class="panel">
    <span class="underlineSelected">add</span>
</div>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/clients/add}" th:object="${clientInput}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>First Name</label>
                    <input type="text" field="*{firstName}" name="firstName" th:value="${clientInput.firstName}">
                </td>
                <td>
                    <label>Middle Name</label>
                    <input type="text" field="*{middleName}" name="middleName" th:value="${clientInput.middleName}">
                </td>
                <td>
                    <label>Last Name</label>
                    <input type="text" field="*{lastName}" name="lastName" th:value="${clientInput.lastName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone</label>
                    <input type="text" field="*{phone}" name="phone" th:value="${clientInput.phone}">
                </td>
                <td>
                    <label>Mail</label>
                    <input type="text" field="*{mail}" name="mail" th:value="${clientInput.mail}">
                </td>
                <td>
                    <label>Passport</label>
                    <input type="text" field="*{passport}" name="passport" th:value="${clientInput.passport}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add client">
                    <div th:replace="fragments/errorMessages :: alreadyExists"></div>
                    <div th:replace="fragments/errorMessages :: occupiedMail"></div>
                    <div th:replace="fragments/errorMessages :: occupiedPhone"></div>
                    <div th:replace="fragments/errorMessages :: emptyFields"></div>
                    <div th:replace="fragments/errorMessages :: invalidFields"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/clients/edit/{passport}'}" th:object="${clientInput}"
          method="post">
        <table th:fragment="edit" class="hiddenPanel" hidden id="edit">
            <tr>
                <td>
                    <label>Passport</label>
                    <input type="text" field="*{passport}" name="passport" th:value="${clientInput.passport}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>First Name</label>
                    <input type="text" field="*{firstName}" name="firstName" th:value="${clientInput.firstName}">
                </td>
                <td>
                    <label>Middle Name</label>
                    <input type="text" field="*{middleName}" name="middleName" th:value="${clientInput.middleName}">
                </td>
                <td>
                    <label>Last Name</label>
                    <input type="text" field="*{lastName}" name="lastName" th:value="${clientInput.lastName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone</label>
                    <input type="text" field="*{phone}" name="phone" th:value="${clientInput.phone}">
                </td>
                <td>
                    <label>Mail</label>
                    <input type="text" field="*{mail}" name="mail" th:value="${clientInput.mail}">
                </td>
                <td>
                    <label>New Passport</label>
                    <input type="text" field="*{newPassport}" name="newPassport" th:value="${clientInput.newPassport}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="edit client">
                    <div th:replace="fragments/errorMessages :: alreadyExistsEdit"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentEdit"></div>
                    <div th:replace="fragments/errorMessages :: emptyPassport"></div>
                    <div th:replace="fragments/errorMessages :: occupiedMailEdit"></div>
                    <div th:replace="fragments/errorMessages :: occupiedPhoneEdit"></div>
                    <div th:replace="fragments/errorMessages :: invalidFieldsEdit"></div>
                    <div th:replace="fragments/errorMessages :: emptyFieldsEdit"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>Name</td>
            <td>Phone</td>
            <td>Mail</td>
            <td>Passport</td>
            <td></td>
        </tr>

        <tr th:each="client : ${clients}" class="list">
            <td>
                <span th:text="${client.firstName}"></span>
                <span th:text="${client.middleName}"></span>
                <span th:text="${client.lastName}"></span>
            </td>
            <td th:text="${client.phone}"></td>
            <td th:text="${client.mail}"></td>
            <td th:text="${client.passport}"></td>

            <td>
                <a th:href="@{'/clients/delete/{id}'(id=${client.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script>perform("addClient");</script>
</body>
</html>