<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/credits/add}" th:object="${creditInput}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Bank</label>
                    <input type="text" field="*{bank}" name="bank" th:value="${creditInput.bank}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Limit</label>
                    <input type="text" field="*{limit}" name="limit" th:value="${creditInput.limit}">
                </td>
                <td>
                    <label>Annual Interest Rate</label>
                    <input type="text" field="*{interest}" name="interest" th:value="${creditInput.interest}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add credit">
                    <div th:replace="fragments/errorMessages :: alreadyExistsCredit"></div>
                    <div th:replace="fragments/errorMessages :: emptyFieldsCredit"></div>
                    <div th:replace="fragments/errorMessages :: invalidFieldsCredit"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentClient"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentBank"></div>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{'/credits/edit/{id}'}" th:object="${creditEditInput}"
          method="post">
        <table th:fragment="edit" class="hiddenPanel" hidden id="edit">
            <tr>
                <td>
                    <label>Bank</label>
                    <input type="text" field="*{bank}" name="bank" th:value="${creditEditInput.bank}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Limit</label>
                    <input type="text" field="*{limit}" name="limit" th:value="${creditEditInput.limit}">
                </td>
                <td>
                    <label>Interest</label>
                    <input type="text" field="*{interest}" name="interest" th:value="${creditEditInput.interest}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>New Limit</label>
                    <input type="text" field="*{newLimit}" name="newLimit" th:value="${creditEditInput.newLimit}">
                </td>
                <td>
                    <label>New Interest</label>
                    <input type="text" field="*{newInterest}" name="newInterest" th:value="${creditEditInput.newInterest}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="edit credit">
                    <div th:replace="fragments/errorMessages :: emptyFieldsCreditEdit"></div>
                    <div th:replace="fragments/errorMessages :: invalidFieldsEditCredit"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentEditCredit"></div>
                    <div th:replace="fragments/errorMessages :: alreadyExistsEditCredit"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td><a th:href="@{'/credits/sort/{property}' (property = 'bank.name')}">Bank</a></td>
            <td><a th:href="@{'/credits/sort/{property}' (property = 'limit')}">Limit</a></td>
            <td><a th:href="@{'/credits/sort/{property}' (property = 'interest')}">Annual Interest Rate</a></td>
            <td></td>
        </tr>

        <tr th:each="credit : ${credits}" class="list">
            <td th:text="${credit.bank.name}"></td>
            <td th:text="${credit.limit}"></td>
            <td th:text="${credit.interest}"></td>

            <td>
                <a th:href="@{'/credits/delete/{id}'(id=${credit.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script>perform("addClient");</script>
</body>
</html>