<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offer</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/credit-offers/add}" th:object="${creditOfferInput}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Bank</label>
                    <input type="text" field="*{bank}" name="bank" th:value="${creditOfferInput.bank}">
                </td>
                <td>
                    <label>Passport</label>
                    <input type="text" field="*{passport}" name="passport" th:value="${creditOfferInput.passport}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Limit</label>
                    <input type="text" field="*{limit}" name="limit" th:value="${creditOfferInput.limit}">
                </td>
                <td>
                    <label>Annual Interest Rate</label>
                    <input type="text" field="*{interest}" name="interest" th:value="${creditOfferInput.interest}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Months</label>
                    <input type="text" field="*{months}" name="months" th:value="${creditOfferInput.months}">
                </td>
                <td>
                    <label>Sum</label>
                    <input type="text" field="*{sum}" name="sum" th:value="${creditOfferInput.sum}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add credit offer">
                    <div th:replace="fragments/errorMessages :: emptyFieldsCreditOffer"></div>
                    <div th:replace="fragments/errorMessages :: invalidFieldsCreditOffer"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentCredit"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentBankInCreditOffer"></div>
                    <div th:replace="fragments/errorMessages :: nonExistentClientInCreditOffer"></div>
                    <div th:replace="fragments/errorMessages :: monthsError"></div>
                    <div th:replace="fragments/errorMessages :: limitError"></div>
                    <div th:replace="fragments/errorMessages :: sumError"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>Bank</td>
            <td>Client</td>
            <td>Credit</td>
            <td>Credit Sum</td>
            <td>Payment Schedule</td>
            <td></td>
        </tr>

        <tr th:each="offer : ${creditOffers}" class="list">
            <td th:text="${offer.bank.name}"></td>
            <td>
                <table border="1">
                    <tr bgcolor="#cccccc">
                        <td>Name</td>
                        <td>Passport</td>
                    </tr>

                    <tr>
                        <td>
                            <span th:text="${offer.client.firstName}"></span>
                            <span th:text="${offer.client.middleName}"></span>
                            <span th:text="${offer.client.lastName}"></span>
                        </td>
                        <td th:text="${offer.client.passport}"></td>
                    </tr>
                </table>
            </td>

            <td>
                <table border="1">
                    <tr bgcolor="#cccccc">
                        <td>Limit</td>
                        <td>Annual Interest Rate</td>
                    </tr>

                    <tr>
                        <td th:text="${offer.credit.limit}"></td>
                        <td th:text="${offer.credit.interest}"></td>
                    </tr>
                </table>
            </td>

            <td th:text="${offer.sum}"></td>

            <td>
                <table border="1" th:unless="${#lists.isEmpty(offer.payments)}">
                    <tr bgcolor="#cccccc">
                        <td>Date</td>
                        <td>Payment Sum</td>
                        <td>Credit Body Sum</td>
                        <td>Interest Sum</td>
                        <td></td>
                    </tr>

                    <tr th:each="payment : ${offer.payments}">
                        <td th:text="${payment.date}"></td>
                        <td th:text="${payment.paymentSum}"></td>
                        <td th:text="${payment.creditSum}"></td>
                        <td th:text="${payment.interestSum}"></td>
                    </tr>
                </table>
            </td>

            <td>
                <a th:href="@{'/credit-offers/delete/{id}'(id=${offer.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script>perform("addClient");</script>
</body>
</html>