<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offer</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<br/>
<div>
    <button onclick="hideRows()" id="button">Show Payments</button>
    <div><br/></div>

    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>Bank</td>
            <td>Client</td>
            <td>Credit</td>
            <td>Credit Sum</td>
            <td>Payment Schedule</td>
            <td></td>
        </tr>

        <tr th:each="offer : ${creditOffers}" class="list">
            <td th:text="${offer.bank.name}"></td>
            <td>
                <table border="1">
                    <tr bgcolor="#cccccc">
                        <td>Name</td>
                        <td>Passport</td>
                    </tr>

                    <tr>
                        <td>
                            <span th:text="${offer.client.firstName}"></span>
                            <span th:text="${offer.client.middleName}"></span>
                            <span th:text="${offer.client.lastName}"></span>
                        </td>
                        <td th:text="${offer.client.passport}"></td>
                    </tr>
                </table>
            </td>

            <td>
                <table border="1">
                    <tr bgcolor="#cccccc">
                        <td>Limit</td>
                        <td>Annual Interest Rate</td>
                    </tr>

                    <tr>
                        <td th:text="${stringUtil.removeTrailingZeros(offer.credit.limit)}"></td>
                        <td th:text="${stringUtil.removeTrailingZeros(offer.credit.interest)}"></td>
                    </tr>
                </table>
            </td>

            <td th:text="${stringUtil.removeTrailingZeros(offer.sum)}"></td>

            <td>
                <table border="1" th:unless="${#lists.isEmpty(offer.payments)}">
                    <tr bgcolor="#cccccc">
                        <td>Date</td>
                        <td>Payment Sum</td>
                        <td>Credit Body Sum</td>
                        <td>Interest Sum</td>
                    </tr>

                    <tr th:each="payment : ${offer.payments}" hidden class="hidePayments">
                        <td th:text="${payment.date}"></td>
                        <td th:text="${stringUtil.removeTrailingZeros(payment.paymentSum)}"></td>
                        <td th:text="${stringUtil.removeTrailingZeros(payment.creditSum)}"></td>
                        <td th:text="${stringUtil.removeTrailingZeros(payment.interestSum)}"></td>
                    </tr>
                </table>
            </td>

            <td>
                <a th:href="@{'/credit-offers/delete/{id}'(id=${offer.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
<script>
    perform("addClient");
    perform("edit");

</script>
</body>
</html>