<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div class="panel">
    <span class="underlineSelected">add client</span>
</div>
<div th:replace="fragments/header :: header"></div>
<br/>
<form action="#" th:action="@{'/banks/add-client'}" th:object="${client}" method="post">
    <table id="addClient">
        <tr hidden>
            <td>
                <input th:field="*{id}" />
                <input th:field="*{firstName}" />
                <input th:field="*{middleName}" />
                <input th:field="*{lastName}" />
                <input th:field="*{phone}" />
                <input th:field="*{mail}" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Passport</label>
                <input type="text" field="*{passport}" name="passport" th:value="${passport}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="add client">
                <div th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></div>
                <div th:if="${#fields.hasErrors('global')}">
                    <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>