<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/banks/add-credit-offer}" th:object="${creditOffer}" method="post">
        <table id="addCreditOffer">
            <tr>
                <td>Bank</td>
                <td>Credit</td>
            </tr>

            <tr>
                <td th:text="${bank.name}"></td>
                <td>
                    <select th:field="*{credit}">
                        <option value="">Select credit</option>
                        <option th:each="credit : ${bank.credits}"
                                th:value="${credit.id}"
                                th:text="'Limit: ' + ${stringUtil.removeTrailingZeros(credit.limit)}
                                + ' '
                                + 'Interest: ' + ${stringUtil.removeTrailingZeros(credit.interest)}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Months</label>
                    <input type="number" name="months" th:value="${months}">
                </td>
                <td>
                    <label>Sum</label>
                    <input type="text" th:field="*{sum}" name="sum" th:value="${sum}">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="add credit offer">
                    <div th:if="${#fields.hasErrors('global')}">
                        <div th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>