<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
    <link th:replace="fragments/css :: css">
</head>
<body>
<div class="panel">
    <span class="underlineSelected">add</span>
</div>
<div th:replace="fragments/header :: header"></div>
<br/>
<div>
    <form action="#" th:action="@{/banks/add}" th:object="${bank}" method="post">
        <table th:fragment="add" class="hiddenPanel" id="add">
            <tr>
                <td>
                    <label>Name</label>
                    <input type="text" th:field="*{name}" name="name">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="add bank">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <div th:if="${#fields.hasErrors('global')}">
                        <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<div>
    <table align="center" border="1">
        <tr bgcolor="#cccccc">
            <td>Name</td>
            <td>Clients</td>
            <td>Credits</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr th:each="bank : ${banks}" class="list">
            <td th:text="${bank.name}"></td>

            <td>
                <table th:unless="${#lists.isEmpty(bank.clients)}" align="center" border="1">
                    <tr bgcolor="#cccccc">
                        <td>Name</td>
                        <td>Passport</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr th:each="client : ${bank.clients}">
                        <td>
                            <span th:text="${client.firstName}"></span>
                            <span th:text="${client.middleName}"></span>
                            <span th:text="${client.lastName}"></span>
                        </td>
                        <td th:text="${client.passport}"></td>

                        <td>
                            <a th:href="@{'/banks/add-credit-offer/{id}/{passport}' (id=${bank.id}, passport=${client.passport})}">
                                add credit offer
                            </a>
                        </td>
                        <td><a th:href="@{'/banks/deleteClient/{id}'(id=${client.id})}">delete</a></td>
                    </tr>
                </table>
            </td>

            <td>
                <table th:unless="${#lists.isEmpty(bank.credits)}" align="center" border="1">
                    <tr bgcolor="#cccccc">
                        <td>Limit</td>
                        <td>Annual Interest Rate</td>
                        <td></td>
                    </tr>

                    <tr th:each="credit : ${bank.credits}">
                        <td th:text="${stringUtil.removeTrailingZeros(credit.limit)}"></td>
                        <td th:text="${stringUtil.removeTrailingZeros(credit.interest)}"></td>

                        <td><a th:href="@{'/banks/deleteCredit/{id}'(id=${credit.id})}">delete</a></td>
                    </tr>
                </table>
            </td>

            <td>
                <a th:href="@{'/banks/add-client/{id}'(id=${bank.id})}">add client</a>
            </td>
            <td>
                <a th:href="@{'/banks/edit/{id}'(id=${bank.id})}">edit</a>
            </td>
            <td>
                <a th:href="@{'/banks/delete/{id}'(id=${bank.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>